.content-section {
  max-width: 1440px;
  box-sizing: border-box;
  margin: auto;
}

.header {
  padding: 92px 49px 96px 51px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.header__logo {
  width: 136px;
  margin-right: 145px;
}

.header__info{
  width: 240px;
}

.header__menu-nav {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 32px;
}

.menu-item {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.item-active {
  text-decoration: underline;
  text-underline-offset: 20%;
}

.list-marker {
  list-style: circle;
}

.info {
  font-style: normal;
  flex-direction: column;
  line-height: 155%;
}

.address{
  max-width: 240px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.cover {
  min-height: 757px;
  position: relative;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: absolute;
  padding: 165px 50px 237px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 2;
}

.accent-span {
  color: white;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
  margin-top: 10px;
}

.text-right {
  text-align: right;
}

.space-letter {
  margin-left: 30px;
  margin-right: 30px;
}

.no-space-letter {
  letter-spacing: 0px;
}

.cover__about-text {
  position: absolute;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 17px;
  bottom: 62px;
  left: 422px;
}

.litle-space {
  margin-left: 4px;
}

.cover__about-button {
  position: absolute;
  z-index: 2;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  border: #fff;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  bottom: 50px;
  right: 50px;
}

.cover__about-button:active {
  background: #fff;
  color: #000;
}

.lots {
  padding: 180px 50px 0px 50px;
  display: flex;
  flex-direction: column;
}

.lots__intro {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__see-more {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 15%;
  padding-left: 40px;
  padding-top: 30px;
}

.lots__list {
  display: flex;
  justify-content: space-between;
}

.lots__element {
  width: 430px;
  height: 450px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.lots__element::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.lots__list-main {
  padding: 50px 40px 0px 40px;
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 5%;
  text-transform: uppercase;
}

.lots__list-paragraph {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 0px 40px 50px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__element-first {
  background-image: url(/images/card-lot-01.jpg);
}

.lots__element-second {
  background-image: url(/images/card-lot-02.jpg);
}

.lots__element-third {
  background-image: url(/images/card-lot-03.jpg);
}

.about {
  padding: 180px 50px;
  display: flex;
  flex-direction: row;
}

.about__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 114px;
  margin: 65px 166px 0px 140px;
}

.about__logo-image {
  position: absolute;
  z-index: 1;
}

.about__logo-background {
  position: absolute;
  z-index: 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 885px;
  margin-top: 103px;
}

.about__intro {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.about__paragraph {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  padding: 0px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-right: 10px;
}

.footer__info{
  width: 250px;
}

.footer__services {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__image {
  height: 48px;
}
